.full-width {
  width: 100%;
}

.link-hover:hover {
  background: #eeeeee;
  cursor: pointer;
  transition: background 420ms ease;
}

.unset-link.unset-link {
  color: unset;
}

.unset-link:hover {
  text-decoration: unset;
}
